html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=IBM+Plex+Sans+Thai+Looped&display=swap');

/* animation start  */
@keyframes chatAnimation {
  0%   
    {transform: translateX(50%);}
  100% 
    {transform: translateX(0);}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}



@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  80% { opacity:0.5; }
  100% { opacity:1; }
}
/* animation stop  */




p, button, h1, nav, ul, li {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  color: white;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/***********************************************************************/
/* Header Start */
/***********************************************************************/

header {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

header.blueButtonClicked {
  background: none;
  background-color: whitesmoke;
}

.headingError {
  font-size: 5rem;
}
.notFoundError {
  font-size: 2rem;
}

header .wrapper {
  background-color: whitesmoke;
  height: 55vh;
  color: #232838;
  opacity: 0.9;
  padding: 5vh 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading {
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 auto;
  animation: 
    typing 3.0s steps(40, end),
    blink-caret .75s step-end;
}

.instructionPara {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  -webkit-animation: 4s ease 0s normal forwards 1 fadein;
  animation: 4s ease 0s normal forwards 1 fadein;
}

.headerButtons {
  -webkit-animation: 8s ease 0s normal forwards 1 fadein;
  animation: 8s ease 0s normal forwards 1 fadein;
}


h1, header p {
  display: block;
}


header p {
  font-size: 1rem;
}

.headerButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.headerButtons button {
  background-color: #434E74;
  color: white;
  font-size: 1.1rem;
  width: 40%;
  border: none;
  padding: 20px 0;
  border-radius: 45%;
}

.headerButtons button:hover {
  background-color: green;
  border: none;
}

.headerButtons .redButton {
  background-color: rgb(202, 12, 12);
  color: white;
}

.headerButtons .redButton:hover {
  background-color: rgb(129, 6, 6);
}

.headerButtons .blueButton {
  background-color: rgb(0, 0, 194);
  color: white;
}

.headerButtons .blueButton:hover {
  background-color: rgb(5, 5, 128);
}


/***********************************************************************/
/* Messages */
/***********************************************************************/

header, main {
  text-align: center;
}

main {
  background: rgb(13,2,8);
  background: radial-gradient(circle, rgba(13,2,8,1) 68%, rgb(1, 27, 1) 100%); 
  height: 96.5vh;
}

main .wrapper {
  border: 1px solid #0D0208;
}

nav {
  height: 10vh;
  background-color: #003B00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

nav p {
  font-size: 1.2rem;
}

ul, li {
  height: 100%;
}

li {
  background: #008F11;
  border: 1px solid #003B00;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

li:hover {
  background: #E6DDEE;
  color: #003B00;
}

.messages {
  height: 75vh;
  background: rgb(238,233,233);
  background: radial-gradient(circle, rgba(238,233,233,1) 0%, rgba(117,173,117,1) 100%); 
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-color: #003B00 #008F11;
}

.messages::-webkit-scrollbar {
  width: 15px;
}
.messages::-webkit-scrollbar-track {
  background: #008F11;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #003B00;
}

.theMessage {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 15px 1%;
}

.messages p,
.messages img {
  animation-name: chatAnimation;
  animation-duration: 0.5s;
} 

.messages p {
  width: calc(100% - 80px);
  font-size: 1rem;
  padding: 20px 15px;
  border-radius: 12px;
  position: relative;
}


.messageSent {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.messageReceived {
  align-self: flex-start;
}

.sent {
  background-color: #022a02;
}

.sent:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #022a02;
  border-right: 0;
	border-top: 0;
	margin-top: -6px;
	margin-right: -20px;
}

.received {
  background-color: #157720;
  position: relative;
}

.received:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #157720;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15px;
	margin-left: -20px;
}

img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

/***********************************************************************/
/* Form Start */
/***********************************************************************/

form {
  display: flex;
  height: 10vh;
  max-width: 600px;
}

input, 
form button {
  font-size: 1.1rem;
  height: 100%;
  width: 80%;
  border: none;
  padding: 5px 10px;
}

input {
  background-color: #003B00;
  color: white;
}

form button {
  background-color: #008F11;
  border-top: 1px solid #003B00;
  color: white;
  width: 20%;
  min-width: 65px;
}

form button:hover {
  color: #003B00;
  background-color: #E6DDEE;
}

footer {
  background-color: #0D0208;
  padding: 5px 0;
  text-align: center;
}



/***********************************************************************/
/* Responsive Start */
/***********************************************************************/
@media (max-height: 580px) {
  header .wrapper {
    height: 90vh;
  }
}

@media (max-width: 470px) {
  .heading {
    font-size: 1.3rem;
  }
  .instructionPara {
    font-size: 1.1rem;
  }
}