html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

p, button, h1 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  color: white;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

header {
  height: 100vh;
  background: rgb(174,143,177);
  background: linear-gradient(180deg, rgba(174,143,177,1) 6%, rgba(230,221,238,1) 27%, rgba(190,223,255,1) 55%, rgba(136,155,211,1) 74%, rgba(67,78,116,1) 100%);
  padding-top: 25vh;
}

header .wrapper {
  background-color: whitesmoke;
  height: 50vh;
  color: #232838;
  opacity: 0.5;
  padding: 15vh 5% 0 5%;
  position: relative;
}

h1, header p {
  display: block;
}

header button {
  background-color: #434E74;
  color: white;
  width: 90%;
  padding: 10px 0;
  margin-top: 2%;
  border: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

header button:hover {
  background-color: #E6DDEE;
  color: #434E74;
  border: 2px solid #434E74;
}

form,
.messages p {
  background-color: #434E74;
}

header, main {
  text-align: center;
}

main {
  background: rgb(230,221,238);
  background: radial-gradient(circle, rgba(230,221,238,1) 0%, rgba(174,143,177,1) 100%); 
}

.messages {
  height: 75vh;
  background: rgb(227,239,246);
  background: radial-gradient(circle, rgba(227,239,246,1) 7%, rgba(209,220,252,1) 95%);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages p {
  width: 80%;
  margin: 20px 0;
  font-size: 1rem;
  padding: 15px;
  border-radius: 12px;
}

form {
  display: flex;
  height: 10vh;
  max-width: 600px;
}

input, 
form button {
  font-size: 1rem;
  height: 100%;
  width: 80%;
  border: none;
  padding: 5px 10px;
}

input {
  background-color: #434E74;
  color: white;
}

form button {
  background-color: #BEDFFF;
  border: 1px solid #434E74;
  color: #434E74;
  width: 20%;
  min-width: 65px;
  font-size: 1rem;
}

form button:hover {
  background-color: #E6DDEE;
}

footer {
  background-color: #232838;
  padding: 5px 0;
  text-align: center;
}